.carousel {
  margin-bottom: 4rem;
  position: relative;
}

.carousel-inner img {
  position: absolute;
  top: 0;
  left: 0;
  height: auto
  object-fit: containt !important;
  display: block;
}

.carousel-item {
  height: 50rem;
}